<div class="updform" *ngFor="let a of birdsList">
    <div class="double"><h3>{{a.title}}</h3><button class="selectbutton" (click)="onSelect(a)">Select!</button></div>
</div>
<div *ngIf="selectedItem">

<form #form2="ngForm" (ngSubmit)="updateRest(form2.value)" class="updform">
    <input type="text" placeholder="Name of the Bird" name="title" ngModel="{{selectedItem.title}}">
    <input type="number" min="1" max="5000" placeholder="Age of the Bird" name="age" ngModel="{{selectedItem.age}}">
    <input type="text" placeholder="Info of the Bird" name="info" ngModel="{{selectedItem.info}}">
    <input type="submit" class="addbutton" value="Update Bird!">
</form>
</div>
