img{
    height: 250px;
    margin-top: 30px;
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color:  #68ff68;
    padding: 15px;
    margin: 15px;
    max-width: 800px;
    border: solid 5px #e309f7;
    
    &:hover {
        background-color: #22ff05;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: white;
         }
        }
    }
}
button {
        &:hover{
            background-color: #e6fd64;
            border: solid 4px #fdd317;
        cursor: pointer;
        margin-top: 15px;
        padding: 10px;
        }
}

.uml-diagram {
    text-align: center;
    padding: 2rem 0;
 
    img {
        width: 800px;
        height: 600px;
    }
}
