<div><h1>Лабораторна робота 2</h1></div>
<div class="card">
<a href="./Servlet1">Servlet1</a>

<button (click)="getBirds()">Get Birds</button>

<ul>
  <li *ngFor="let ani of birdsList">
    Title: {{ani.title}}
  </li>
  <li *ngFor="let ani of birdsList">
    Age: {{ani.age}} years
  </li>
  <li *ngFor="let ani of birdsList">
    Info: {{ani.info}}
  </li>
  <li><img src="assets/owl.jpg" (click)="getBirds()"></li>
</ul>

<h3>Add birds</h3>
<form #form1="ngForm" (ngSubmit)="addBirds(form1.value)">
  <input type="text" name="title" value="" ngModel>
  <br>
  <input type="number" name="age" value="0" ngModel>
  <br>
  <input type="text" name="info" value="" ngModel>
  <br>
  <input type="submit" value="Add Animal">
</form>

<div class="uml-diagram">
  <p class="diagram-title">UML Diagram</p>
  <img src="assets/Screenshot_1.jpg">
</div>