<div class="line"></div>
<div class="gr">

<img src="assets/owl.jpg" (click)="getBirds()">
<div class="one" *ngFor="let a of birdsList">
    <h1>{{a.title}}</h1>
    <h2>{{a.age}}</h2>
    <h2>{{a.info}}</h2>
</div>
</div>
<a href="./Servlet1">Servlet</a>
<div class="line"></div>
<div class="gr2">
    <div class="add">
        <div class="addbtn" (click)="getBirds()">Add Bird!</div>
        <div class="add-hidden" id="add-hidden"><app-add></app-add></div>
    </div>
    <div class="remove">
        <div class="rmbtn" (click)="getBirds()"> Remove Bird!</div>
        <div class="rm-hidden" id="rm-hidden"><app-rm></app-rm></div>
    </div>
</div>
